<div class="header">
  <p class="space" style="text-align: center">
    <span style="font-size: 50px;color: gainsboro">J A M</span>
  </p>
</div>
<div class="nav">
  <p class="space" style="text-align: center">
    <span style="font-size: 35px">&nbsp;JUST A MINUTE</span>
  </p>
</div>
<div style="text-align: center">
  <button *ngFor="let t of _model.topics; let i = index" [disabled]="checkForDisable(t.id)" (click)="openModel(t)">{{ getTid(t.id) }}</button>
</div>
<div *ngIf="showModel" id="myModal" class="modal">
  
  <div class="modal-content">
    <!-- <span class="close" (click)="showModel = false">&times;</span> -->
    <div id="header">
      <p style="text-align: center">
        <span  style="font-size: 50px;color: gainsboro;">J A M</span>
      </p>
    </div>
    <hr />
    <div style="background-color: white; text-align: center">
      <p style="color:teal;font-size: 45px;line-height: 0;">Topic-{{selectedQuestion.id}}</p>
      <p style="font-size:60px;">{{selectedQuestion.topic}}</p>
      <p style="line-height: 0;font-size: 15px;"[ngStyle]="{'color': time <= 10 ? 'red' : 'black' }">Time Left : {{time}} seconds</p>
      <p style="font-size:50px;">Next Number is {{randNextNumber}}</p>
    </div>
  </div>
</div>
